<app-navbar></app-navbar>
<div class="middle">
    <div class="container">
      <section class="form-section">
        <form action="" class="form grid">
          <div class="last">
            <label for="lastName">Last Name</label>
            <input type="text" itemid="lastName" />
          </div>
          <div class="first">
            <label for="firstName">First Name</label>
            <input type="text" id="firstName" />
          </div>
          <div class="mail">
            <label for="email">Work Email</label>
            <input type="email" id="email" />
          </div>
          <div class="phone">
            <label for="phone">Phone Number</label>
            <input type="number" id="phone" />
          </div>
          <div class="interest">
            <label for="intrest">Product Of Interest</label>
            <select name="" id="interest" placeholder="Select an option">
              <option value="">Select a product</option>
            </select>
          </div>
          <div class="companyN">
            <label for="companyName">Conmpany Name</label>
            <input type="text" id="companyName" />
          </div>
          <div class="companyS">
            <label for="companySize">Company Size</label>
            <input type="text" id="companySize" />
          </div>
          <div class="text-area">
            <label for="help">How can our experts help you?</label>
            <textarea name="" id="" cols="30" rows="10"></textarea>
          </div>
          <button class="btn bl">Contact Us</button>
        </form>
      </section>

      <section class="request grid">
        <div class="top grid">
          <h3 class="heads">Request a call from an experts</h3>
          <p class="sub">
            Having thoughts on which product works best for you? Fill the form
            and our expert will reach out to you.
          </p>
        </div>
        <div class="mid grid">
          <h3 class="heads">Our offices around Africa</h3>
          <div class="location">
            <div class="nigeria">
              <h6>Nigeria</h6>
              <p>33a, Adeola Odeku, Victoria</p>
              <p>Island, Lagos.</p>
              <p>+234-(0)-8000000000</p>
            </div>
            <div class="ghana">
              <h6>Ghana</h6>
              <p>45, El-Senoussi Street,</p>
              <p>Accra</p>
              <p>+233-(0)-277619819</p>
            </div>
            <div class="sa">
              <h6>South Africa</h6>
              <p>474, Cheriton Drive, Port</p>
              <p>Shepstone, Kwazulu-Natal</p>
              <p>+27-(0)-857926978</p>
            </div>
            <div class="egypt">
              <h6>Egypt</h6>
              <p>72, Gameat El-Dewal</p>
              <p>El-Arabia St., Giza.</p>
              <p>+20-(0)-35924295</p>
            </div>
            <div class="kenya">
              <h6>Kenya</h6>
              <p>41, Enterprise Rd., Industrial</p>
              <p>Area , Niarobi</p>
              <p>+254-(0)-20536766</p>
            </div>
            <div class="tunisia">
              <h6>Tunisia</h6>
              <p>13, Rue de Makthar, Dhraa</p>
              <p>Governorate Kasserine</p>
              <p>+216-(0)-77367410</p>
            </div>
            <div class="mali">
              <h6>Mali</h6>
              <p>22, Badalabougou Est.,</p>
              <p>Bamako.</p>
              <p>+223-(0)-78175387</p>
            </div>
            <div class="tanzania">
              <h6>Tanzania</h6>
              <p>Mbezi Beach, P.O.B: 70339,</p>
              <p>Dar Salaam</p>
              <p>+255-(0)-222120119</p>
            </div>
            <div class="togo">
              <h6>Togo</h6>
              <p>10, E rue des Echis,</p>
              <p>Lome</p>
              <p>+228-(0)-22229600</p>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>


<app-footer></app-footer>