<header class="header flex">
    <h1 class="logo">
      <img style=" cursor: pointer;" routerLink="/home" src="../../../../assets/images/logo.png" alt="" />
    </h1>
    <nav class="nav">
      <ul class="nav-list">
        <li class="nav__items">
          <a href="" class="nav__link">New Customer?</a>
        </li>
        <li class="nav__items">
          <a routerLink="/dev" class="nav__link btn btn-small"
            >Try For Free <img src="../../../../assets/images/caret.svg" alt=""
          /></a>
        </li>
      </ul>
    </nav>
  </header>