<header class="header container">
  <h1 routerLink="/home" class="logo">
    <a routerLink="/home" style="cursor: pointer;"><img src="assets/images/logo.png" alt="" /></a>
  </h1>
  <nav class="nav">
    <ul class="nav-list primary-nav">
      <li class="nav__items"><a href="" class="nav__link">Product</a></li>
      <li class="nav__items"><a href="" class="nav__link">Pricing</a></li>
      <li class="nav__items">
        <a href="" routerLink="/home" class="nav__link">Enterprise</a>
      </li>
      <li class="nav__items"><a href="" class="nav__link">Support</a></li>
    </ul>
    <ul class="secondary-nav nav-list">
      <li class="nav__items">
        <a routerLink="/contact" class="nav__link">Contact Sales</a>
      </li>
      <li class="nav__items">
        <a routerLink="/login" class="nav__link">Login</a>
      </li>
      <li class="nav__items">
        <a routerLink="/dev" class="nav__link btn btn-small"
          >Try For Free <img src="assets/images/caret.svg" alt=""
        /></a>
      </li>
    </ul>
  </nav>
</header>