<footer class="footer-section container grid">
    <div class="left-section grid">
      <div class="logo">
        <img src="assets/images/logo.png" alt="" />
      </div>
      <p class="accredition">No 1 CRM solution in Africa</p>
      <p class="light">
        <a href="" class="terms">Terms of Use</a> |
        <a href="" class="privacy">Privacy Policy</a>
      </p>
      <div>
        <h6 class="tiny">Get in touch</h6>
        <p>+234-80-000-0000</p>
      </div>
      <div class="socials__links">
        <div class="social-img">
          <img src="assets/images/facebook-day 1.svg" alt="" />
        </div>
        <div class="social-img">
          <img src="assets/images/twitter-day 1.svg" alt="" />
        </div>
        <div class="social-img">
          <img src="assets/images/linkedin-day 1.svg" alt="" />
        </div>
        <div class="social-img">
          <img src="assets/images/youtube-day 1-1.svg" alt="" />
        </div>
      </div>
    </div>
    <div class="right-section grid">
      <div class="heading-select">
        <select name="" id="">
          <option value="">English</option>
        </select>
        <div class="em">
          <img src="assets/images/logo.svg" alt="" />
        </div>
      </div>
      <div class="services">
        <div class="product">
          <h5>Product</h5>
          <ul>
            <li><a href="">Features</a></li>
            <li><a href="">Enterprise</a></li>
            <li><a href="">Security</a></li>
            <li><a href="">Trust</a></li>
            <li><a href="">Customer Stories</a></li>
            <li><a href="">Pricing</a></li>
            <li><a href="">Integrations</a></li>
            <li><a href="">Oneburner Partners</a></li>
          </ul>
        </div>
        <div class="company">
          <h5>Company</h5>
          <ul>
            <li><a href="">About Us</a></li>
            <li><a href="">Contact Us</a></li>
            <li><a href="">Careers</a></li>
            <li><a href="">In the News</a></li>
          </ul>
        </div>
        <div class="owners">
          <h5>Oneburner for teams</h5>
          <ul>
            <li><a href="">Engineering</a></li>
            <li><a href=""></a>Financial Services</li>
            <li><a href="">CRM and Sales</a></li>
            <li><a href="">IT</a></li>
            <li><a href="">Marketing</a></li>
            <li><a href=""></a>Customer Support</li>
            <li><a href="">Human Resources</a></li>
            <li><a href="">Project Mangement</a></li>
            <li><a href="">Remote Work</a></li>
          </ul>
        </div>
        <div class="resources">
          <h5>Resources</h5>
          <ul>
            <li><a href="">Community</a></li>
            <li><a href="">Guides</a></li>
            <li><a href="">Template</a></li>
            <li><a href="">Video Tutorial</a></li>
            <li><a href="">Professional Services</a></li>
            <li><a href="">Knowledge Base</a></li>
            <li><a href="">Blog</a></li>
            <li><a href="">Webinars</a></li>
            <li><a href="">Find a Partner</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="copyright">
      <p>&copy; 2020 Oneburner.com. All Rights Reserved.</p>
    </div>
  </footer>