<div class="container col">
    <app-header></app-header>
    <div class="form-page page-2">
        <div class="welcome">
        <h1 class="heading">Sign In</h1>
        <p>Welcome Back!</p>
        </div>
        <form action="" class="form">
        <div class="email">
            <label for="Email">Email / Usename</label>
            <input type="text" id="email" />
        </div>
        <div class="password">
            <label for="password">Password</label>
            <input type="password" id="password" />
        </div>
        <button type="submit" class="btn">Login</button>
        <p class="forgot">Forgot Password?</p>
        </form>
        <div class="alternative flex">
        <p>- Or sign in with:</p>
        <div class="small-img">
            <img src="../../../../assets/images/outlook-icon.svg" alt="Outlook" />
        </div>
        <div class="small-img">
            <img src="../../../../assets/images/linkedin-icon-2.png" alt="LinkedIn" />
        </div>
        <div class="small-img">
            <img src="../../../../assets/images/google-icon 1.png" alt="Google" />
        </div>
        </div>
    </div>
    <footer class="footer">
        <p>&copy; www.oneburner.com. All rights reserved.</p>
    </footer>
</div>
