<app-nav></app-nav>
<div class="form-page">
    <h1 class="heading">In Development</h1>
    <form action="" class="form">
      <div class="email">
        <label for="Email">Email / Usename</label>
        <input type="text" id="email" />
      </div>
      <div class="password">
        <label for="password">Password</label>
        <input type="password" id="password" />
      </div>
      <button type="submit" class="btn">Login</button>
      <p class="forgot">Forgot Password?</p>
    </form>
  </div>
<app-foot></app-foot>