    <app-navbar></app-navbar>
    <!-- Intro Page -->
    <section class="intro container grid">
        <div class="brief grid">
          <h1 class="purple-heading">
            Collaborate with your team<br />and get more done
          </h1>
          <p>
            Communicate effectively with Oneburner for easy collaboration, team
            work and remote work.
          </p>
          <a href="" class="nav__link btn btn-small btn-large"
            >Try For Free <img src="assets/images/caret.svg" alt=""
          /></a>
        </div>
        <div class="brief-img">
          <img src="assets/images/lanidng-image.png" alt="" />
        </div>
      </section>
      <section class="branding container grid">
        <h3 class="branding-heading">
          Over 500+ companies bond teams together with Oneburner
        </h3>
        <div class="partnered-brands">
          <div class="partner-image">
            <img src="assets/images/paystack-removebg-preview 1.png" alt="" />
          </div>
          <div class="partner-image">
            <img src="assets/images/egyptair-removebg-preview 1.png" alt="" />
          </div>
          <div class="partner-image">
            <img src="assets/images/dangote-removebg-preview 1.png" alt="" />
          </div>
          <div class="partner-image">
            <img
              src="assets/images/standardbank-removebg-preview 1.png"
              alt=""
            />
          </div>
          <div class="partner-image">
            <img src="assets/images/MTN 1.png" alt="" />
          </div>
          <div class="partner-image">
            <img src="assets/images/gtbank 1.png" alt="" />
          </div>
          <div class="partner-image">
            <img src="assets/images/Header Logo 1.png" alt="" />
          </div>
        </div>
      </section>
      <section class="slider container">
        <ul class="slides">
          <li class="slide selected"><a href="">CRM & Sales</a></li>
          <li class="slide"><a href="">Human Resources</a></li>
          <li class="slide"><a href="">Marketing</a></li>
          <li class="slide"><a href="">Remote Work</a></li>
          <li class="slide"><a href="">Project Management</a></li>
          <li class="slide"><a href="">Social Media</a></li>
        </ul>
      </section>
      <section class="showcase container">
        <div class="grid">
          <div class="show show1 grid">
            <div class="cont grid">
              <h2>Mange team activities all in one place</h2>
              <p>
                Keep your team organized and informed with activities that are
                up to date.
              </p>
            </div>
            <div class="cont-image">
              <img src="assets/images/Rectangle 25.png" alt="" />
            </div>
          </div>
          <div class="show show2 grid">
            <div class="cont-image">
              <img src="assets/images/Frame 2 1.png" alt="" />
            </div>
            <div class="cont grid">
              <h2>Bring your team up to speed</h2>
              <p>
                Collaborate on project from start to finish, see information at
                a glance, add comment, attachment and more with Oneburner.
              </p>
            </div>
          </div>
          <div class="show show3 grid">
            <div class="cont grid">
              <h2>Automated task timeline</h2>
              <p>
                View dates, projects, calendar, sprint and more with
                reliability.
              </p>
            </div>
            <div class="cont-image">
              <img src="assets/images/Rectangle 22.png" alt="" />
            </div>
          </div>
        </div>
      </section>
      <section class="integration container grid">
        <h2>Integrate with your favourite tools easily in one click</h2>
        <div class="integrate-platform grid">
          <div><img src="assets/images/slack-new-logo 1.png" alt="" /></div>
          <div>
            <img src="assets/images/official-gmail-icon-2020-.png" alt="" />
          </div>
          <div><img src="assets/images/linkedin-icon-2.png" alt="" /></div>
          <div>
            <img src="assets/images/mailchimp-freddie-icon.png" alt="" />
          </div>
          <div><img src="assets/images/dropbox-2.png" alt="" /></div>
          <div><img src="assets/images/facebook-3-2.png" alt="" /></div>
          <div><img src="assets/images/onenote-icon-3.png" alt="" /></div>
          <div><img src="assets/images/facebook-messenger-3.png" alt="" /></div>
          <div><img src="assets/images/whatsapp-icon.png" alt="" /></div>
          <div><img src="assets/images/sendgrid.png" alt="" /></div>
          <div><img src="assets/images/github-icon-1.png" alt="" /></div>
          <div><img src="assets/images/outlook-icon.svg" alt="" /></div>
          <div><img src="assets/images/box-39.png" alt="" /></div>
          <div><img src="assets/images/onenote-icon-3.png" alt="" /></div>
          <div><img src="assets/images/microsoft-teams-1.png" alt="" /></div>
          <div>
            <img src="assets/images/microsoft-sharepoint-1.png" alt="" />
          </div>
          <div><img src="assets/images/youtube-3.png" alt="" /></div>
          <div><img src="assets/images/zeplin.png" alt="" /></div>
          <div><img src="assets/images/excel-4.png" alt="" /></div>
          <div>
            <img src="assets/images/microsoft-powerpoint-2013.png" alt="" />
          </div>
          <div>
            <img src="assets/images/microsoft-access-2013.png" alt="" />
          </div>
          <div><img src="assets/images/wordpress-blue 1.png" alt="" /></div>
        </div>
      </section>
      <section class="showcase container grid">
        <div class="grid">
          <div class="show show4 grid">
            <div class="cont-image">
              <img src="assets/images/Rectangle 21.png" alt="" />
            </div>
            <div class="cont grid">
              <h2>Timeless report generator</h2>
              <p>
                You can generate quick report of activities of all that has to
                do with the daily running of your business and teams.
              </p>
            </div>
          </div>
          <div class="show show5 grid">
            <div class="cont grid">
              <h2>Efficient lead management</h2>
              <p>
                Track and manage prospective customers. Manage their notes,
                emails, meetings, calls, contacts, and files.
              </p>
            </div>
            <div class="cont-image">
              <img src="assets/images/Rectangle 19.png" alt="" />
            </div>
          </div>
        </div>
      </section>
      <section class="support container grid">
        <div class="img-reps">
          <img src="assets/images/Component 3.png" alt="" />
        </div>
        <div class="response-rate">
          <h3>24/7 customer support</h3>
          <p>
            Our team of responsible member is always available to help you all
            day long and ready to meet your demand. Reach out to us and we will
            always be there.
          </p>
        </div>
      </section>
      <section class="cta">
        <div class="container grid">
          <h2>Choose a better way to work</h2>
          <p>
            No credit card details | No additional installation | No time
            wasting
          </p>
          <a href="" class="cta-small">
            <p>Start my free trial</p>
            <div>
              <img src="assets/images/caret-small.svg" alt="" />
            </div>
          </a>
        </div>
      </section>
    <app-footer></app-footer>